* {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

span,
p,
h1,
h2,
h3 {
    color: var(--text-color);
}

:root {
    --text-color: #383838;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.App {
    display: flex;
}

.Content {
    margin-top: 50px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    width: calc(100vw - 250px);
}
