* {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

span,
p,
h1,
h2,
h3 {
    color: var(--text-color);
}

:root {
    --text-color: #383838;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
